<!-- <script>
      AOS.init();
    </script> -->
<!--
<div data-aos="fade-left"
     data-aos-easing="linear"
     data-aos-duration="1500">
     <% @cocktails.each do |cocktail| %>
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %> </p>
      <% end %>
</div> -->
<%= link_to "Add a cocktail", new_cocktail_path  %>

<!-- app/views/articles/index.html.erb -->
<%#= cl_image_tag("lsvoiq6t0hhalbh6ubfu",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%#= cl_image_tag("odxndaq9tsf7l7bpocpv",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>


<div>
     <% @cocktails.each do |cocktail| %>
      <%= cl_image_tag cocktail.photo.key,
      width: 400, height: 300, crop: :fill %>
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %> </p>
      <% end %>
</div>
